<div>
    <p>welcome to your account Mr/Md </p>
</div>
<!-- i will make profile user  (his information) i will share information between components using services-->
<!-- i will use *ngFor and ngIf for creating tables as i want using condition (date and detection of carte rfid) -->
<div class="table-container">
    <table border="1" cellpadding="2">
    <thead>
        <tr><th>date</th></tr>
        <tr><th>8:30--10:00</th></tr>
        <tr><th>10:00--11:30</th></tr>
        <tr><th>11:30--13:00</th></tr>
    </thead>
    </table>
    <table border="1" cellpadding="14">
        <thead>
            <tr>
                <th>LUNDI</th>
                <th>MARDI</th>
                <th>MERCREDI</th>
                <th>JEUDI</th>
                <th>VENDREDI</th>
                <th>SAMEDI</th>
                <th>DIMANCHE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>absent</td>
                <td>present</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>present</td>
                <td>absent</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>present</td>
                <td>present</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
